<!DOCTYPE html>
<html style="height:100%">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tmp.css') }}">
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5.2.2/dist/echarts.min.js"></script>
        <title>Home</title>
    </head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <body style="height:100%">
    <div class="toparea">
      <p>☰</p>
      <nav class="topnav">
        <ul>
            <li><a href="{{ url_for( 'parent_pool_overview') }}" id = 'a'>Parent Pool</a></li>
            <li><a href="{{ url_for( 'family_pool_overview') }}">Family Pool</a></li>
          <li id="selected"><a href="">Child Pool</a></li>
        </ul>
      </nav>
    </div>
    <script>
        var a=document.getElementById('a')
        a.onclick = function(){
            if({{tmp_dict['flag']}}==0){
            alert('Permission');
            return false;
            }
            else{
            return true;
            }
        }
    </script>
    <div class="sidearea">
      <nav class="sidenav">
        <ul>
          <li onclick="window.location.href='{{ url_for( 'children_pool') }}';">Balance</li>
          <li onclick="window.location.href='{{ url_for( 'children_pool_sr') }}';">Spending Record</li>
            <li id = "selected2">Money Box</li>>
        </ul>
        <hr>
        <p>Welcome, Bob</p>
        <img src="/static/child.png" alt="parent">
      </nav>
    </div>
    <div class="container">
      <div class ="viewer1-mb">
        <div class="insurecard">
          <p class="title">
          Saving
          </p>
          <div>
          <p class="subtitle">
            Scholarships
          </p><hr>
          <p>
            Date: 17/09/2016
          </p><hr>
          <p>
            $ 30
          </p><hr>
          <p class="subtitle">
            Rewards from parents
          </p><hr>
          <p>
            Date: 17/05/2010
          </p><hr>
          <p>
            $ 20
          </p><hr>
          <p>&ThinSpace;</p><hr>
          <p>&ThinSpace;</p><hr>
          </div>
        </div>
        <div>

        </div>
    </div>
    <div class="viewer2-mb">
      <div class = "table2-mb">
        <table>
          <tr>
            <th>Monthly Rate</th>
            <th>Income Today</th>
          </tr>
          <tr>
            <td>0.5%</td>
            <td>$10</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="viewer3-mb">
      <nav>
        <ul class="tablenav-in">
          <li id="tb1-in"  style="left: 10%;"onclick="changenavin(1)">
            Save<span id="tb1-in-s"></span>
          </li>
          <li id="tb2-in" style="left: 55%;" onclick="changenavin(2)">
            Withdraw<span id="tb2-in-s"></span>
          </li>
        </ul>
      </nav>
      <div class="table-sw">
          <div class="inputer-sw">
            <div class="inputarea-sw" id="swarea">
            <p>Remarks on Cash Flow</p>
            <input type="text" name = "save" value="">
            <p>Please enter the amount (Unit: $)</p>
            <input type="text">
            <button>submit</button>
            </div>
          </div>
      </div>
    </div>
  </div>
    <script>
      var btn = document.getElementById("selected")
      btn.style.backgroundColor = "lightslategray";
      btn.style.color = "azure";
      btn.style.boxShadow ="rgba(44, 39, 39, 0.653) 1px 10px 50px 10px";
      btn.style.zIndex = "1";
    </script>
        <script>
      var btn = document.getElementById("selected")
      btn.style.backgroundColor = "lightslategray";
      btn.style.color = "azure";
      btn.style.boxShadow ="rgba(44, 39, 39, 0.653) 1px 10px 50px 10px";
      btn.style.zIndex = "1";
      document.getElementById("selected2").style.color = "silver";
      function changenavin(selecter){
        var tb1in1 = document.getElementById("tb1-in");
        var tbspan1 = document.getElementById("tb1-in-s");
        var tb1in2 = document.getElementById("tb2-in");
        var tbspan2 = document.getElementById("tb2-in-s");
        var table1 = document.getElementById("table-in-1");
        var table2 = document.getElementById("table-in-2");
        if(selecter == 1)
        {
          tb1in2.style = `
          background-color: rgb(175, 171, 171);
          color: rgba(0, 0, 0, 0.455);
          box-shadow: 10px 10px 30px 0px rgba(155, 155, 155, 0.394);
          top: -6%;
          left: 55%;
          transition: 0.3s all ease;
          `
          tb1in1.style = `
          background-color: rgb(140, 245, 140);
          color: white;
          box-shadow: 10px 10px 10px 0px rgba(155, 155, 155, 0.293);
          top: -3.7%;
          left: 10%;
          transition: 0.3s all ease;
          `
          tbspan2.style.height = '40%';
          tbspan1.style = `
          height: 25%;
          transition: all 0.3s ease;
          `
          table2.style.height = '0';
          setTimeout(function(){table1.style.height = '100%'},600);
        }
        else
        {
          tb1in1.style = `
          background-color: rgb(175, 171, 171);
          color: rgba(0, 0, 0, 0.455);
          box-shadow: 10px 10px 30px 0px rgba(155, 155, 155, 0.394);
          top: -6%;
          left: 10%;
          transition: 0.3s all ease;
          `
          tb1in2.style = `
          background-color: rgb(140, 245, 140);
          color: white;
          box-shadow: 10px 10px 10px 0px rgba(155, 155, 155, 0.293);
          top: -3.7%;
          left: 55%;
          transition: 0.3s all ease;
          `
          tbspan1.style.height = '40%';
          tbspan2.style = `
          height: 25%;
          transition: all 0.3s ease;
          `
          table1.style.height = '0';
          setTimeout(function(){table2.style.height = '100%'},600);
        }
      }

    </script>
    </body>
</html>

