<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="logger.css">
    <title>Select Pool</title>
</head>
<body>
    <div class="login-form"><p>Family Wealth Management System</p>
        <button class="poolbtn" onclick="location.href='./pool/pool-for-parent.html'">Parent Pool</button>
        <button class="poolbtn" onclick="location.href='./pool/pool-for-family.html'">Family Pool</button>
        <button class="poolbtn" onclick="location.href='./pool/pool-for-child.html'">Child Pool</button>
    </div>
</body>
</html>