<!DOCTYPE html>
<html style="height:100%">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='mystyle.css')}}">
        <title>Home</title>
    </head>
    <body style="height:100%">
    <div class="toparea">
      <p>☰</p>
      <nav class="topnav">
        <ul>
            <li><a href="{{ url_for( 'parent_pool_overview') }}" id = 'a'>Parent Pool</a></li>
          <li id="selected"><a href="#">Family Pool</a></li>
          <li><a onclick="window.location.href='{{ url_for( 'children_pool') }}';">Child Pool</a></li>
        </ul>
      </nav>
    </div>
    <script>
        var a=document.getElementById('a')
        a.onclick = function(){
            if({{id_dict['flag']}}==1){
            return true;
            }
            else{
            alert('No Permission');
            return false;
            }
        }
    </script>

    <div class="sidearea">
      <nav class="sidenav">
        <ul>
          <li onclick="window.location.href='{{ url_for( 'family_pool_overview') }}';">Overview</li>
          <li class="menu-1st">Manage Account
            <ul class="menu-2nd">
              <li onclick="window.location.href='{{ url_for( 'family_pool_manage_sw') }}';">
                Save/Withdraw
              </li>
              <li>
                Invest
                <ul class="menu-3rd-hidden">
                  <li id="selected2">stock</li>
                  <li onclick="window.location.href='{{ url_for( 'family_pool_manage_fu') }}';">fund</li>
                  <li onclick="window.location.href='{{ url_for( 'family_pool_manage_in') }}';">insurance</li>
                </ul>
              </li>
              <li>Loan</li>
              <li onclick="window.location.href='{{ url_for( 'family_pool_manage_mp') }}';">
                Manage Pools
              </li>
            </ul>
          </li>
          
          <li onclick="window.location.href='{{ url_for( 'family_pool_goal') }}';">Set Goals</li>
        </ul>
        <hr>
        <p>Welcome, Bob</p>
        <img src="/static/user.png" alt="user">
      </nav>
    </div>
    <div class="container">
      <div class="viewer1-st">
        <p class="title1-st">Current Holdings</p>
        <hr>
        <div class="table1-st-container">
          <table>
            <tr class="table1-st-header">
              <th>CODE</th>
              <th>SHARES</th>
              <th>LAST</th>
              <th>CHANGE</th>
            </tr>
            <tr class="table1-st-content">
              <td>9988</td>
              <td>15</td>
              <td>$139.70</td>
              <td class="downstock">-16.70</td>
            </tr>
            <tr class="table1-st-content">
              <td>9999</td>
              <td>31</td>
              <td>$179.00</td>
              <td class="upstock">+1.20</td>
            </tr>
            <tr class="table1-st-content">
              <td>9888</td>
              <td>8</td>
              <td>$151.30</td>
              <td class="downstock">-5.10</td>
            </tr>
            <tr class="table1-st-content">
              <td>1218</td>
              <td>420</td>
              <td>$4.79</td>
              <td class="upstock">+0.19</td>
            </tr>
          </table>
        </div>
        <div class="viewer1-st-overview">
          <p>Current Total Value</p>
          <p>$ 10866.7</p>
        </div>
      </div>
      <div class="viewer2-st">
        <p class="title">Outstanding Stocks Today</p>
        <hr>
        <div class="table2-st-container">
          <table>
            <tr class="table2-st-header">
              <th>CODE</th>
              <th>NAME</th>
              <th>LAST</th>
              <th>CHANGE</th>
              <th>Chg%</th>
            </tr>
            <tr class="table2-st-content"> <!--Maybe could add a function that someone follow stock-->
              <td>995</td>
              <td>ANHUI EXPRESSWAY COMPANY LTD</td>
              <td>$5.82</td>
              <td class="upstock">+0.96</td>
              <td class="upstock">19.75%</td>
            </tr>
            <tr class="table2-st-content">
              <td>9618</td>
              <td>JD.COM INC</td>
              <td>$352.4</td>
              <td class="upstock">+29.4</td>
              <td class="upstock">9.10%</td>
            </tr>
            <tr class="table2-st-content">
              <td>336</td>
              <td>HUABAO INTERNATIONAL HOLDINGS LTD</td>
              <td>$21.36</td>
              <td class="upstock">+1.62</td>
              <td class="upstock">8.16%</td>
            </tr>
            <tr class="table2-st-content">
              <td>2171</td>
              <td>CARSGEN THERAPEUTICS HLDGS LTD</td>
              <td>$46.50</td>
              <td class="upstock">+3.00</td>
              <td class="upstock">6.90%</td>
            </tr>
            <tr class="table2-st-content">
              <td>1109</td>
              <td>CHINA RESOURCES LAND</td>
              <td>$35.05</td>
              <td class="upstock">+2.00</td>
              <td class="upstock">6.05%</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="viewer3-st">
          <form class="inputarea-st" method="post">
            <dl>
              <dt>
                Trading Code
              </dt>
              <dd>
                <input type="text">
              </dd>
              <dt>
                Trading Amount
              </dt>
              <dd>
                <input type="text">
              </dd>
              <dd><input class="formsubmit-st" type="submit" value="Confirm"></dd>
            </dl>
          </form>
          <span></span>
          <div class="previewer-st">
            <p>Total transaction value</p>
            <p class="output1-st">$</p> <!--no style bond to the class output-->
            <p>Balance after transaction</p>
            <p class="output2-st">$</p>
          </div>

      </div>
    </div>
    <footer style="display: none;"><div>Pool Icons made by <a href="https://www.flaticon.com/authors/becris" title="Becris">Becris</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      <div>User profile Icons made by <a href="https://www.flaticon.com/authors/bombasticon-studio" title="Bombasticon Studio">Bombasticon Studio</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      <div>Majority Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      <div>Invest Icons made by <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      <div>Background made by <a href="https://www.pexels.com/zh-cn/@gradienta" title="Gradienta">Gradienta</a></div>
      <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      <div>Icons made by <a href="https://www.flaticon.com/authors/justicon" title="justicon">justicon</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      <div>Icons made by <a href="https://www.flaticon.com/authors/srip" title="srip">srip</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </footer>
    <script>
      var btn = document.getElementById("selected")
      btn.style.backgroundColor = "lightslategray";
      btn.style.color = "azure";
      btn.style.boxShadow ="rgba(44, 39, 39, 0.653) 1px 10px 50px 10px";
      btn.style.zIndex = "1";
      document.getElementById("selected2").style.color = "silver";
    </script>
    </body>
</html>