<!DOCTYPE html>
<html style="height:100%">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="mystyle.css">
        <title>Home</title>
    </head>
    <body style="height:100%" onload="changenav(1)">
    <div class="toparea">
      <p>☰</p>
      <nav class="topnav">
        <ul>
          <li><a href="parent-pool-manage-sw.html">Parent Pool</a></li>
          <li id="selected"><a href="#">Family Pool</a></li>
          <li><a href="#">Child Pool</a></li>
        </ul>
      </nav>
    </div>

    <div class="sidearea">
      <nav class="sidenav">
        <ul>
          <li onclick="window.location.href='family-pool-overview.html'">Overview</li>
          <li class="menu-1st">Manage Account
            <ul class="menu-2nd">
              <li id="selected2">
                Save/Withdraw
              </li>
              <li>
                Invest
                <ul class="menu-3rd-hidden">
                  <li onclick="window.location.href='family-pool-manage-st.html'">stock</li>
                  <li onclick="window.location.href='family-pool-manage-fu.html'">fund</li>
                  <li onclick="window.location.href='family-pool-manage-in.html'">insurance</li>
                </ul>
              </li>
              <li onclick="window.location.href='family-pool-manage-lo.html'">
                Loan
              </li>
              <li onclick="window.location.href='family-pool-manage-mp.html'">
                Manage Pools
              </li>
            </ul>
          </li>
          <li onclick="window.location.href='family-pool-goals.html'">Set Goals</li>
        </ul>
        <hr>
        <p>Welcome, Mrs. Rachel</p>
        <img src="user.png" alt="user">
      </nav>
    </div>
    <div class="container">
      <div class="viewer">
        <div class="imgshower-sw">
          <img src="cash-flow.png" alt="cash">
        </div>
        <div class="table-sw">
          <nav>
            <ul class="tablenav-sw">
              <li id="tb1" onclick="changenav(1);changearea(1)">
                Save
              </li>
              <li id="tb2" onclick="changenav(2);changearea(1)">
                Withdraw
              </li>
              <li id="tb3" onclick="changenav(3);changearea(2)">
                Transfer
              </li>
            </ul>
          </nav>
          <div class="inputer-sw">
            <div class="inputarea-sw" id="swarea">
              <p>Please enter the amount (Unit: $)</p>
              <input type="text">
              <button>submit</button>
            </div>
            <div class="transferarea-sw" id="trarea" style="height:0;overflow:hidden;">
              <div class="transtable1">
                <ul>
                  <li id="tra1" onclick="changebtn(1)">
                    Parent Pool
                  </li>
                  <li id="tra2" onclick="changebtn(2)">
                    Family Pool
                  </li>
                  <li id="tra3" onclick="changebtn(3)">
                    Child Pool
                  </li>
                </ul>
              </div>
              <div class="arrow" style="left: 25.5%;"></div>
              <div class="arrow" style="left: 72%;"></div>
              <div class="transtable2">
                <ul>
                  <li id="trb1" onclick="changebtn(4)">
                    Parent Pool
                  </li>
                  <li id="trb2" onclick="changebtn(5)">
                    Family Pool
                  </li>
                  <li id="trb3" onclick="changebtn(6)">
                    Child Pool
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="overview-sw">
          <p>Current Balance in Parent Pool:</p>
          <p>$  19,300.79</p>
          <p>Current Balance in Family Pool:</p>
          <p>$  30,032.13</p>
          <p>Current Balance in Child Pool:</p>
          <p>$  4,056.70</p>
        </div>
        <div class="overview-sw" style="left: 70%;">
          <p>Time Deposit:</p>
          <p>$  27,590.45</p>
          <p>Demand Deposit:</p>
          <p>$  25,799.17</p>
          <p>Overall Balance:</p>
          <p>$  53,389.62</p><p style="color: grey; font-size:medium;">($10,310.71 reserved for goals)</p>
        </div>
      </div>
    </div>
    
    <script>
      var btn = document.getElementById("selected")
      btn.style.backgroundColor = "lightslategray";
      btn.style.color = "azure";
      btn.style.boxShadow ="rgba(44, 39, 39, 0.653) 1px 10px 50px 10px";
      btn.style.zIndex = "1";
      document.getElementById("selected2").style.color = "silver";
      function changenav(selecter){
        tb1 = document.getElementById("tb1");
        tb2 = document.getElementById("tb2");
        tb3 = document.getElementById("tb3");
        if(selecter == 1){
          tb1.style = `
          background: linear-gradient(160deg, transparent 10px, rgba(255, 255, 255, 0.87) 0) left, linear-gradient(200deg, transparent 10px, rgba(255, 255, 255, 0.87) 0) right;
          background-size: 50.003% 100%;
          background-repeat: no-repeat;
          z-index: 3;
          box-shadow:  30px 10px 20px -12px rgba(0, 0, 0, 0.283);
          `
          tb2.style = `
          background: linear-gradient(160deg, transparent 10px, rgba(220, 216, 216, 0.87) 0) left, linear-gradient(200deg, transparent 10px, rgba(214, 211, 211, 0.87) 0) right;
          background-size: 50.007% 100%;
          background-repeat: no-repeat;
          box-shadow: none;
          `
          tb3.style = `
          background: linear-gradient(160deg, transparent 10px, rgba(220, 216, 216, 0.87) 0) left, linear-gradient(200deg, transparent 10px, rgba(214, 211, 211, 0.87) 0) right;
          background-size: 50.007% 100%;
          background-repeat: no-repeat;
          box-shadow: none;
          `
        }
        else if(selecter == 2)
          {
            tb1.style = `
            background: linear-gradient(160deg, transparent 10px, rgba(220, 216, 216, 0.87) 0) left, linear-gradient(200deg, transparent 10px, rgba(214, 211, 211, 0.87) 0) right;
            background-size: 50.007% 100%;
            background-repeat: no-repeat;
            box-shadow: none;
            `
            tb2.style = `
            background: linear-gradient(160deg, transparent 10px, rgba(255, 255, 255, 0.87) 0) left, linear-gradient(200deg, transparent 10px, rgba(255, 255, 255, 0.87) 0) right;
            background-size: 50.003% 100%;
            background-repeat: no-repeat;
            z-index: 3;
            box-shadow:  0px 22px 20px 0px rgba(0, 0, 0, 0.22);
            `
            tb3.style = `
            background: linear-gradient(160deg, transparent 10px, rgba(220, 216, 216, 0.87) 0) left, linear-gradient(200deg, transparent 10px, rgba(214, 211, 211, 0.87) 0) right;
            background-size: 50.007% 100%;
            background-repeat: no-repeat;
            box-shadow: none;
            `
          }
          else
          {
            tb1.style = `
            background: linear-gradient(160deg, transparent 10px, rgba(220, 216, 216, 0.87) 0) left, linear-gradient(200deg, transparent 10px, rgba(214, 211, 211, 0.87) 0) right;
            background-size: 50.007% 100%;
            background-repeat: no-repeat;
            box-shadow: none;
            `
            tb3.style = `
            background: linear-gradient(160deg, transparent 10px, rgba(255, 255, 255, 0.87) 0) left, linear-gradient(200deg, transparent 10px, rgba(255, 255, 255, 0.87) 0) right;
            background-size: 50.003% 100%;
            background-repeat: no-repeat;
            z-index: 3;
            box-shadow:  -30px 10px 20px -12px rgba(0, 0, 0, 0.283);
            `
            tb2.style = `
            background: linear-gradient(160deg, transparent 10px, rgba(220, 216, 216, 0.87) 0) left, linear-gradient(200deg, transparent 10px, rgba(214, 211, 211, 0.87) 0) right;
            background-size: 50.007% 100%;
            background-repeat: no-repeat;
            box-shadow: none;
            `
          }
      }
      function changearea(selecter){
        trarea = document.getElementById("trarea");
        swarea = document.getElementById("swarea");
        if (selecter==1){
          trarea.style = `height:0;`
        }
        else 
        {
          trarea.style = `height: 100%;`
        }
      }
      function changebtn(selecter){
        if(selecter==1)
        {
          document.getElementById("tra1").style = `
          transform: scale(1.12);
          transition: all 0.14s;
          color: rgb(52, 52, 52);
          background-color: #f1f1f1;
          `
          document.getElementById("tra2").style = `
          border:2px rgba(140, 140, 140, 0.864);
          border-style: solid;
          border-radius: 3%;
          margin-bottom: 0.5%;
          margin-top: 2%;
          padding: 0px;
          height: 25%;
          color: #ffffff8e;
          display: block;
          line-height: 2;
          cursor: pointer;
          background-color: rgba(152, 152, 152, 0.646);
          transition: all 0.14s;
          `
          document.getElementById("tra3").style = `
          border:2px rgba(140, 140, 140, 0.864);
          border-style: solid;
          border-radius: 3%;
          margin-bottom: 0.5%;
          margin-top: 2%;
          padding: 0px;
          height: 25%;
          color: #ffffff8e;
          display: block;
          line-height: 2;
          cursor: pointer;
          background-color: rgba(152, 152, 152, 0.646);
          transition: all 0.14s;
          `
        }
        else if (selecter==2) 
        {
          document.getElementById("tra2").style = `
          transform: scale(1.12);
          transition: all 0.14s;
          color: rgb(52, 52, 52);
          background-color: #f1f1f1;
          `
          document.getElementById("tra1").style = `
          border:2px rgba(140, 140, 140, 0.864);
          border-style: solid;
          border-radius: 3%;
          margin-bottom: 0.5%;
          margin-top: 2%;
          padding: 0px;
          height: 25%;
          color: #ffffff8e;
          display: block;
          line-height: 2;
          cursor: pointer;
          background-color: rgba(152, 152, 152, 0.646);
          transition: all 0.14s;
          `
          document.getElementById("tra3").style = `
          border:2px rgba(140, 140, 140, 0.864);
          border-style: solid;
          border-radius: 3%;
          margin-bottom: 0.5%;
          margin-top: 2%;
          padding: 0px;
          height: 25%;
          color: #ffffff8e;
          display: block;
          line-height: 2;
          cursor: pointer;
          background-color: rgba(152, 152, 152, 0.646);
          transition: all 0.14s;
          `
        }
        else if (selecter==3) 
        {
          document.getElementById("tra3").style = `
          transform: scale(1.12);
          transition: all 0.14s;
          color: rgb(52, 52, 52);
          background-color: #f1f1f1;
          `
          document.getElementById("tra1").style = `
          border:2px rgba(140, 140, 140, 0.864);
          border-style: solid;
          border-radius: 3%;
          margin-bottom: 0.5%;
          margin-top: 2%;
          padding: 0px;
          height: 25%;
          color: #ffffff8e;
          display: block;
          line-height: 2;
          cursor: pointer;
          background-color: rgba(152, 152, 152, 0.646);
          transition: all 0.14s;
          `
          document.getElementById("tra2").style = `
          border:2px rgba(140, 140, 140, 0.864);
          border-style: solid;
          border-radius: 3%;
          margin-bottom: 0.5%;
          margin-top: 2%;
          padding: 0px;
          height: 25%;
          color: #ffffff8e;
          display: block;
          line-height: 2;
          cursor: pointer;
          background-color: rgba(152, 152, 152, 0.646);
          transition: all 0.14s;
          `
        }
        else if (selecter==4) 
        {
          document.getElementById("trb1").style = `
          transform: scale(1.12);
          transition: all 0.14s;
          color: rgb(52, 52, 52);
          background-color: #f1f1f1;
          `
          document.getElementById("trb2").style = `
          border:2px rgba(140, 140, 140, 0.864);
          border-style: solid;
          border-radius: 3%;
          margin-bottom: 0.5%;
          margin-top: 2%;
          padding: 0px;
          height: 25%;
          color: #ffffff8e;
          display: block;
          line-height: 2;
          cursor: pointer;
          background-color: rgba(152, 152, 152, 0.646);
          transition: all 0.14s;
          `
          document.getElementById("trb3").style = `
          border:2px rgba(140, 140, 140, 0.864);
          border-style: solid;
          border-radius: 3%;
          margin-bottom: 0.5%;
          margin-top: 2%;
          padding: 0px;
          height: 25%;
          color: #ffffff8e;
          display: block;
          line-height: 2;
          cursor: pointer;
          background-color: rgba(152, 152, 152, 0.646);
          transition: all 0.14s;
          `
        }
        else if (selecter==5) 
        {
          document.getElementById("trb2").style = `
          transform: scale(1.12);
          transition: all 0.14s;
          color: rgb(52, 52, 52);
          background-color: #f1f1f1;
          `
          document.getElementById("trb1").style = `
          border:2px rgba(140, 140, 140, 0.864);
          border-style: solid;
          border-radius: 3%;
          margin-bottom: 0.5%;
          margin-top: 2%;
          padding: 0px;
          height: 25%;
          color: #ffffff8e;
          display: block;
          line-height: 2;
          cursor: pointer;
          background-color: rgba(152, 152, 152, 0.646);
          transition: all 0.14s;
          `
          document.getElementById("trb3").style = `
          border:2px rgba(140, 140, 140, 0.864);
          border-style: solid;
          border-radius: 3%;
          margin-bottom: 0.5%;
          margin-top: 2%;
          padding: 0px;
          height: 25%;
          color: #ffffff8e;
          display: block;
          line-height: 2;
          cursor: pointer;
          background-color: rgba(152, 152, 152, 0.646);
          transition: all 0.14s;
          `
        }
        else if (selecter==6) 
        {
          document.getElementById("trb3").style = `
          transform: scale(1.12);
          transition: all 0.14s;
          color: rgb(52, 52, 52);
          background-color: #f1f1f1;
          `
          document.getElementById("trb2").style = `
          border:2px rgba(140, 140, 140, 0.864);
          border-style: solid;
          border-radius: 3%;
          margin-bottom: 0.5%;
          margin-top: 2%;
          padding: 0px;
          height: 25%;
          color: #ffffff8e;
          display: block;
          line-height: 2;
          cursor: pointer;
          background-color: rgba(152, 152, 152, 0.646);
          transition: all 0.14s;
          `
          document.getElementById("trb1").style = `
          border:2px rgba(140, 140, 140, 0.864);
          border-style: solid;
          border-radius: 3%;
          margin-bottom: 0.5%;
          margin-top: 2%;
          padding: 0px;
          height: 25%;
          color: #ffffff8e;
          display: block;
          line-height: 2;
          cursor: pointer;
          background-color: rgba(152, 152, 152, 0.646);
          transition: all 0.14s;
          `
        }
      }
      
    </script>
    <footer style="display: none;"><div>Pool Icons made by <a href="https://www.flaticon.com/authors/becris" title="Becris">Becris</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      <div>User profile Icons made by <a href="https://www.flaticon.com/authors/bombasticon-studio" title="Bombasticon Studio">Bombasticon Studio</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      <div>Majority Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      <div>Invest Icons made by <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      <div>Background made by <a href="https://www.pexels.com/zh-cn/@gradienta" title="Gradienta">Gradienta</a></div>
      <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      <div>Icons made by <a href="https://www.flaticon.com/authors/justicon" title="justicon">justicon</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      <div>Icons made by <a href="https://www.flaticon.com/authors/srip" title="srip">srip</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </footer>
    </body>
</html>
    