<!DOCTYPE html>
<html style="height:100%">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="mystyle.css">
        <title>Home</title>
    </head>
    <body style="height:100%">
    <div class="toparea">
      <p>☰</p>
      <nav class="topnav">
        <ul>
          <li><a href="parent-pool-overview">Parent Pool</a></li>
          <li id="selected"><a href="#">Family Pool</a></li>
          <li><a href="#">Children Pool</a></li>
        </ul>
      </nav>
    </div>

    <div class="sidearea">
      <nav class="sidenav">
        <ul>
          <li onclick="window.location.href='family-pool-overview.html'">Overview</li>
          <li class="menu-1st">Manage Account
            <ul class="menu-2nd">
              <li onclick="window.location.href='family-pool-manage-sw.html'">
                Save/Withdraw
              </li>
              <li id="selected2">
                Invest
                <ul class="menu-3rd-hidden">
                  <li>stock</li>
                  <li>fund</li>
                  <li>insurance</li>
                </ul>
              </li>
              <li onclick="window.location.href='family-pool-manage-mp.html'">
                Manage Pools
              </li>
            </ul>
          </li>
          
          <li onclick="window.location.href='family-pool-goals.html'">Set Goals</li>
        </ul>
        <hr>
        <p>Welcome, Bob</p>
        <img src="parent.png" alt="parent">
      </nav>
    </div>
    <div class="container">
      <div class="viewer1-in">
        <p class="title1-in">Current Holdings</p>
        <hr>
        <div class="table1-in-container">
          <table>
            <tr class="table1-in-header">
              <th>CODE</th>
              <th>SHARES</th>
              <th>LAST</th>
              <th>CHANGE</th>
            </tr>
            <tr class="table1-in-content">
              <td>9988</td>
              <td>15</td>
              <td>$139.70</td>
              <td class="downstock">-16.70</td>
            </tr>
            <tr class="table1-in-content">
              <td>9999</td>
              <td>31</td>
              <td>$179.00</td>
              <td class="upstock">+1.20</td>
            </tr>
            <tr class="table1-in-content">
              <td>9888</td>
              <td>8</td>
              <td>$151.30</td>
              <td class="downstock">-5.10</td>
            </tr>
            <tr class="table1-in-content">
              <td>1218</td>
              <td>420</td>
              <td>$4.79</td>
              <td class="upstock">+0.19</td>
            </tr>
          </table>
        </div>
        <div class="viewer1-in-overview">
          <p>Current Total Value</p>
          <p>$ 10866.7</p>
        </div>
      </div>
      <div class="viewer2-in">
        <p class="title">Market Overview</p>
        <hr>
        <div class="table2-in-container">
          <table>
            <tr class="table2-in-header">
              <th>CODE</th>
              <th>NAME</th>
              <th>LAST</th>
              <th>CHANGE</th>
              <th>Chg%</th>
            </tr>
            <tr class="table2-in-content"> <!--Maybe could add a function that someone follow stock-->
              <td>995</td>
              <td>ANHUI EXPRESSWAY COMPANY LTD</td>
              <td>$5.82</td>
              <td class="upstock">+0.96</td>
              <td class="upstock">+19.75%</td>
            </tr>
            <tr class="table2-in-content">
              <td>9618</td>
              <td>JD.COM INC</td>
              <td>$352.4</td>
              <td class="upstock">+29.4</td>
              <td class="upstock">+9.10%</td>
            </tr>
            <tr class="table2-in-content">
              <td>336</td>
              <td>HUABAO INTERNATIONAL HOLDINGS LTD</td>
              <td>$21.36</td>
              <td class="upstock">+1.62</td>
              <td class="upstock">+8.16%</td>
            </tr>
            <tr class="table2-in-content">
              <td>2171</td>
              <td>CARSGEN THERAPEUTICS HLDGS LTD</td>
              <td>$46.50</td>
              <td class="upstock">+3.00</td>
              <td class="upstock">+6.90%</td>
            </tr>
            <tr class="table2-in-content">
              <td>1109</td>
              <td>CHINA RESOURCES LAND</td>
              <td>$35.05</td>
              <td class="upstock">+2.00</td>
              <td class="upstock">+6.05%</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="viewer3-in">
          <form class="inputarea-in" method="post">
            <dl>
              <dt>
                Trading Code
              </dt>
              <dd>
                <input type="text">
              </dd>
              <dt>
                Trading Amount
              </dt>
              <dd>
                <input type="text">
              </dd>
              <dd><input class="formsubmit-in" type="submit" value="Confirm"></dd>
            </dl>
          </form>
          <span></span>
          <div class="previewer-in">
            <p>Total transaction value</p>
            <p class="output1-in">$</p> <!--no style bond to the class output-->
            <p>Balance after transaction</p>
            <p class="output2-in">$</p>
          </div>

      </div>
    
    <script>
      var btn = document.getElementById("selected")
      btn.style.backgroundColor = "lightslategray";
      btn.style.color = "azure";
      btn.style.boxShadow ="rgba(44, 39, 39, 0.653) 1px 10px 50px 10px";
      btn.style.zIndex = "1";
      document.getElementById("selected2").style.color = "silver";
    </script>
    </body>
</html>
    