<!DOCTYPE html>
<html style="height:100%">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='mystyle.css')}}">
        <title>Home</title>
    </head>
    <body style="height:100%">
    <div class="toparea">
      <p>☰</p>
      <nav class="topnav">
        <ul>
          <li id="selected"><a href="#">Parent Pool</a></li>
          <li ><a onclick="window.location.href='{{ url_for( 'family_pool_overview') }}';">Family Pool</a></li>
          <li><a onclick="window.location.href='{{ url_for( 'children_pool') }}';">Child Pool</a></li>
        </ul>
      </nav>
    </div>

    <div class="sidearea">
      <nav class="sidenav">
        <ul>
          <li onclick="window.location.href='{{ url_for( 'parent_pool_overview') }}';">Overview</li>
          <li class="menu-1st" id="selected2">Manage Account
            <ul class="menu-2nd">
              <li onclick="window.location.href='{{ url_for( 'parent_pool_manage_sw') }}';">
                Save/Withdraw
              </li>
              <li>
                Invest
                <ul class="menu-3rd-hidden">
                  <li onclick="window.location.href='{{ url_for( 'parent_pool_manage_st') }}';">stock</li>
                  <li onclick="window.location.href='{{ url_for( 'parent_pool_manage_fu') }}';">fund</li>
                  <li onclick="window.location.href='{{ url_for( 'parent_pool_manage_in') }}';">insurance</li>
                </ul>
              </li>
              <li onclick="window.location.href='{{ url_for( 'parent_pool_manage_lo') }}';">
                Loan
              </li>
              <li onclick="window.location.href='{{ url_for( 'parent_pool_manage_mp') }}';">
                Manage Pools
              </li>
            </ul>
          </li>

          <li onclick="window.location.href='{{ url_for( 'parent_pool_goal') }}';">Set Goals</li>
        </ul>
        <hr>
        <p>Welcome, Bob</p>
        <img src="/static/user.png" alt="user">
      </nav>
    </div>
    <div class="container">
      <div class="viewer">
        <p class="title">You may want to...</p><hr>
        <div class="entrycard" onclick="window.location.href='{{ url_for( 'parent_pool_manage_sw') }}';" style="left: 6%; background-color:rgba(255, 248, 149, 0.66);">
          <div class="cardimg">
            <img src="/static/pool.png" alt="cash-flow">
          </div>
          <div class="cardtext">
            <p>Save/Withdraw</p>
          </div>
        </div>
        <div class="entrycard" onclick="window.location.href='{{ url_for( 'parent_pool_manage_st') }}';" style="left: 29%; background-color:rgba(202, 255, 149, 0.66);">
          <div class="cardimg">
            <img src="/static/invest.png" alt="invest">
          </div>
          <div class="cardtext">
            <p>Invest</p>
          </div>
        </div>
        <div class="entrycard" onclick="window.location.href='{{ url_for( 'parent_pool_manage_lo') }}';" style="left: 51%; background-color:rgba(255, 176, 176, 0.66);">
          <div class="cardimg">
            <img src="/static/loan.png" alt="loan">
          </div>
          <div class="cardtext">
            <p>Loan</p>
          </div>
      </div>
        <div class="entrycard" onclick="window.location.href='{{ url_for( 'parent_pool_manage_mp') }}';" style="left: 74%; background-color:rgba(149, 244, 255, 0.66);">
          <div class="cardimg">
            <img src="/static/management.png" alt="poolmanage">
          </div>
          <div class="cardtext">
            <p>Manage Pools</p>
          </div>
      </div>
    </div>
    </div>
    <script>
      var btn = document.getElementById("selected")
      btn.style.backgroundColor = "lightslategray";
      btn.style.color = "azure";
      btn.style.boxShadow ="rgba(44, 39, 39, 0.653) 1px 10px 50px 10px";
      btn.style.zIndex = "1";
      function readfile(filePath,callback) {
        const afile=new XMLHttpRequest();
        afile.open("GET", "test.html", true);
        afile.onload =function(){
          const text = afile.response;
          callback(text)
        }
        afile.send();
      }

      document.getElementById("selected2").style.color = "silver";
      /*
      document.querySelector(".card1").addEventListener("click", function(){
        const filePath = "./test.html";
        var file;
        readfile(filePath, (textDetail)=> {
          file = textDetail;
        })
        var viewer = document.querySelector(".viewer");
        viewer.style.height = "0";
        viewer.style.opacity = "0";
        viewer.innerHTML = '';
        setTimeout(function(){
          viewer.innerHTML = file;
          changetable(1);
          viewer.style.opacity = "1";
          viewer.style.height = "90%";
        }, 1000)
      })
      function changetable(selecter){
        tb1 = document.getElementById("tb1");
        tb2 = document.getElementById("tb2");
        if(selecter == 1){
          tb1.style = `
          background: linear-gradient(160deg, transparent 10px, rgba(255, 255, 255, 0.87) 0) left, linear-gradient(200deg, transparent 10px, rgba(255, 255, 255, 0.87) 0) right;
          background-size: 50.003% 100%;
          background-repeat: no-repeat;
          z-index: 3;
          box-shadow:  30px 10px 20px -12px rgba(0, 0, 0, 0.283);
          `
          tb2.style = `
          background: linear-gradient(160deg, transparent 10px, rgba(220, 216, 216, 0.87) 0) left, linear-gradient(200deg, transparent 10px, rgba(214, 211, 211, 0.87) 0) right;
          background-size: 50.007% 100%;
          background-repeat: no-repeat;
          box-shadow: none;
          `
        }
        else
          {
            tb1.style = `
            background: linear-gradient(160deg, transparent 10px, rgba(220, 216, 216, 0.87) 0) left, linear-gradient(200deg, transparent 10px, rgba(214, 211, 211, 0.87) 0) right;
            background-size: 50.007% 100%;
            background-repeat: no-repeat;
            box-shadow: none;
            `
            tb2.style = `
            background: linear-gradient(160deg, transparent 10px, rgba(255, 255, 255, 0.87) 0) left, linear-gradient(200deg, transparent 10px, rgba(255, 255, 255, 0.87) 0) right;
            background-size: 50.003% 100%;
            background-repeat: no-repeat;
            z-index: 3;
            box-shadow:  -30px 10px 20px -12px rgba(0, 0, 0, 0.283);
            `
          }
      }
      */
    </script>
    <footer style="display: none;"><div>Pool Icons made by <a href="https://www.flaticon.com/authors/becris" title="Becris">Becris</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      <div>User profile Icons made by <a href="https://www.flaticon.com/authors/bombasticon-studio" title="Bombasticon Studio">Bombasticon Studio</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      <div>Majority Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      <div>Invest Icons made by <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      <div>Background made by <a href="https://www.pexels.com/zh-cn/@gradienta" title="Gradienta">Gradienta</a></div>
      <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      <div>Icons made by <a href="https://www.flaticon.com/authors/justicon" title="justicon">justicon</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      <div>Icons made by <a href="https://www.flaticon.com/authors/srip" title="srip">srip</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </footer>
    </body>
</html>
    