<!DOCTYPE html>
<html style="height:100%">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='mystyle.css')}}">
        <title>Home</title>
    </head>
    <body style="height:100%" onload="changenavin(1)">
    <div class="toparea">
      <p>☰</p>
      <nav class="topnav">
        <ul>
          <li id="selected"><a href="#">Parent Pool</a></li>
          <li ><a onclick="window.location.href='{{ url_for( 'family_pool_overview') }}';">Family Pool</a></li>
          <li><a onclick="window.location.href='{{ url_for( 'children_pool') }}';">Child Pool</a></li>
        </ul>
      </nav>
    </div>

    <div class="sidearea">
      <nav class="sidenav">
        <ul>
          <li onclick="window.location.href='{{ url_for( 'parent_pool_overview') }}';">Overview</li>
          <li class="menu-1st">Manage Account
            <ul class="menu-2nd">
              <li onclick="window.location.href='{{ url_for( 'parent_pool_manage_sw') }}';">
                Save/Withdraw
              </li>
              <li>
                Invest
                <ul class="menu-3rd-hidden">
                  <li onclick="window.location.href='{{ url_for( 'parent_pool_manage_st') }}';">stock</li>
                  <li onclick="window.location.href='{{ url_for( 'parent_pool_manage_fu') }}';">fund</li>
                  <li onclick="window.location.href='{{ url_for( 'parent_pool_manage_in') }}';">insurance</li>
                </ul>
              </li>
              <li id="selected2" >
                Loan
              </li>
              <li onclick="window.location.href='{{ url_for( 'parent_pool_manage_mp') }}';">
                Manage Pools
              </li>
            </ul>
          </li>
          <li onclick="window.location.href='{{ url_for( 'parent_pool_goal') }}';">Set Goals</li>
        </ul>
        <hr>
        <p>Welcome, Mrs. Rachel</p>
        <img src="user.png" alt="user">
      </nav>
    </div>
    <div class="container">
      <div class="viewer">
        <nav class="nav-in">
          <ul class="tablenav-in">
            <li id="tb1-in" onclick="changenavin(1)">
              Current<span id="tb1-in-s"></span>
            </li>
            <li id="tb2-in" style="left: 60%;" onclick="changenavin(2)">
              Get a New Loan<span id="tb2-in-s"></span>
            </li>
          </ul>
        </nav>
        <div class="information-in" id="table-in-1">
          <p class="title">Current Insurance Overview</p>
          <hr>
        <div class="loancard">
          <p class="title">
            Loan 1
          </p>
          <div>
            <p class="subtitle">
              Total Amount
            </p><hr>
            <p>
              $ 20,000
            </p><hr>
            <p class="subtitle">
              Remaining Period
            </p><hr>
            <p>
              12 Months
            </p><hr>
            <p class="subtitle">Monthly Repayment Amount</p><hr>
            <p>$ 1,714.70</p><hr>
            <p class="subtitle">Monthly Flat Rate</p><hr>
            <p>0.24%</p><hr>
          </div>
        </div>
        <div class="loancard" style="left: 35%;">
          <p class="title">
            Loan 2
          </p>
          <div>
            <p class="subtitle">
              Total Amount
            </p><hr>
            <p>
              $ 250,000
            </p><hr>
            <p class="subtitle">
              Remaining Period
            </p><hr>
            <p>
              60 Months
            </p><hr>
            <p class="subtitle">Monthly Repayment Amount</p><hr>
            <p>$ 4,591.70</p><hr>
            <p class="subtitle">Monthly Flat Rate</p><hr>
            <p>0.17%</p><hr>
          </div>
        </div>
      </div>
        <div class="table-in"id="table-in-2" style="height: 0;">
          <div class="purchase-lo">
            <p>Loan Amount</p>
            <div class="loantable1">
              <div>
                <span id="loanrange-value">$10000</span>
                <input class="loanrange" type="range" value="10" min="10" max="200" onChange="rangeviewer(this.value)" onmousemove="rangeviewer(this.value)">
            </div>
            </div>
            <p>Repayment Period</p>
            <div class="loantable2">
              <div class="form-container-lo"> <!--Style Inspired by https://codepen.io/brandonmcconnell/pen/Zqjdmg -->
                <form class="form-lo" method="GET">
                  <div class="sum-ranger">
                    <input type="radio" name="amount" id="6" value="1" required>
                    <label for="6" sum-amount="6 Months"></label>
                    <input type="radio" name="amount" id="7" value="2" required>
                    <label for="7" sum-amount="12 Months"></label>
                    <input type="radio" name="amount" id="8" value="3" required>
                    <label for="8" sum-amount="24 Months"></label>
                    <input type="radio" name="amount" id="9" value="4" required>
                    <label for="9" sum-amount="56 Months"></label>
                    <input type="radio" name="amount" id="10" value="5" required>
                    <label for="10" sum-amount="60 Months"></label>
                    <div class="ranger-position"></div>
                  </div>
                </form>
                <button type="submit">CONFIRM</button>
              </div>
          </div>
        </div>
        <div class="loanprev">
          <p class="title">Preview</p>
          <div>
            <p class="subtitle">Monthly Repayment</p><hr>
            <p id="month-value">10000</p><hr>
            <p class="subtitle">Monthly Flat Rate</p><hr>
            <p id="month-rate">1%</p><hr>
            <p class="subtitle">APR</p><hr>
            <p id="APR">5%</p><hr>
          </div>
        </div>
        
      </div>

    </div>
    </div>
    <script>
      var a=0;
      var prev;
      function rangeviewer(value) {
        document.getElementById('loanrange-value').innerHTML = '$'+1000*value;
        var x = (800+value*80.56);
        x = x.toFixed(2);
        document.getElementById('month-value').innerHTML = '$'+ x;
        var xx = (2-value/199)/10;
        xx = xx.toFixed(2);
        document.getElementById('month-rate').innerHTML = xx+'%';
        var xxx=xx*xx*100*Math.sqrt(xx)*3.3;
        xxx = xxx.toFixed(2);
        document.getElementById('APR').innerHTML = xxx +'%';
    }
      function changenavin(selecter){
        var tb1in1 = document.getElementById("tb1-in");
        var tbspan1 = document.getElementById("tb1-in-s");
        var tb1in2 = document.getElementById("tb2-in");
        var tbspan2 = document.getElementById("tb2-in-s");
        var table1 = document.getElementById("table-in-1");
        var table2 = document.getElementById("table-in-2");
        if(selecter == 1)
        {
          tb1in2.style = `
          background-color: rgb(175, 171, 171);
          box-shadow: 10px 10px 30px 0px rgba(155, 155, 155, 0.394);
          top: -24%;
          left: 60%;
          color: rgba(0, 0, 0, 0.455);
          `
          tb1in1.style = `
          background-color: rgb(140, 245, 140);
          color: white;
          box-shadow: 10px 10px 10px 0px rgba(155, 155, 155, 0.293);
          top: -10%;
          transition: 0.3s all ease;
          `
          tbspan2.style.height = '40%';
          tbspan1.style = `
          height: 25%;
          transition: all 0.3s ease;
          `
          table2.style.height = '0';
          setTimeout(function(){table1.style.height = '100%'},600);
        }
        else
        {
          tb1in1.style = `
          background-color: rgb(175, 171, 171);
          box-shadow: 10px 10px 30px 0px rgba(155, 155, 155, 0.394);
          top: -24%;
          color: rgba(0, 0, 0, 0.455);
          `
          tb1in2.style = `
          background-color: rgb(140, 245, 140);
          color: white;
          left: 60%;
          box-shadow: 10px 10px 10px 0px rgba(155, 155, 155, 0.293);
          top: -10%;
          transition: 0.3s all ease;
          `
          tbspan1.style.height = '40%';
          tbspan2.style = `
          height: 25%;
          transition: all 0.3s ease;
          `
          table1.style.height = '0';
          setTimeout(function(){table2.style.height = '100%'},600);
        }
      }

      function changeprod(selecter){
        var pro = document.getElementById("prods");
        var lipro = pro.getElementsByTagName("li");
        for(i=0;i<5;i++)
        {
          if(i==selecter)
          {
            lipro[i].style = 
          `
            transform: scale(1.12);
            transition: all 0.14s;
            z-index: 1;
            color: rgb(52, 52, 52);
            background-color: #9aff91;
            border: 2px dashed rgb(32, 32, 32);
          `
          }
          else
          {
            lipro[i].style = 
            `
            background-color: rgba(255, 252, 217, 0.646);
            `

          }
        }

        
      }
      
      function changemem(selecter){
        
        if(a%2 == 1 && prev==selecter){
          selecter.style.backgroundColor = "rgba(255, 217, 217, 0.646)";
          a+=1;
        }
        else{
          selecter.style.backgroundColor = "#9aff91";
          a+=1;
        }
        prev=selecter;
      }
      var btn = document.getElementById("selected")
      btn.style.backgroundColor = "lightslategray";
      btn.style.color = "azure";
      btn.style.boxShadow ="rgba(44, 39, 39, 0.653) 1px 10px 50px 10px";
      btn.style.zIndex = "1";
      document.getElementById("selected2").style.color = "silver";
    </script>
    <footer style="display: none;"><div>Pool Icons made by <a href="https://www.flaticon.com/authors/becris" title="Becris">Becris</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      <div>User profile Icons made by <a href="https://www.flaticon.com/authors/bombasticon-studio" title="Bombasticon Studio">Bombasticon Studio</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      <div>Majority Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      <div>Invest Icons made by <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      <div>Background made by <a href="https://www.pexels.com/zh-cn/@gradienta" title="Gradienta">Gradienta</a></div>
      <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      <div>Icons made by <a href="https://www.flaticon.com/authors/justicon" title="justicon">justicon</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      <div>Icons made by <a href="https://www.flaticon.com/authors/srip" title="srip">srip</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </footer>
    </body>
</html>
    