<!DOCTYPE html>
<html style="height:100%">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='mystyle.css')}}">
        <title>Home</title>
    </head>
    <body style="height:100%">
    <div class="toparea">
      <p>☰</p>
      <nav class="topnav">
        <ul>
          <li id="selected"><a href="#">Parent Pool</a></li>
          <li ><a onclick="window.location.href='{{ url_for( 'family_pool_overview') }}';">Family Pool</a></li>
          <li onclick="window.location.href='{{ url_for( 'children_pool') }}';">Child Pool</a></li>
        </ul>
      </nav>
    </div>

    <div class="sidearea">
      <nav class="sidenav">
        <ul>
          <li onclick="window.location.href='{{ url_for( 'parent_pool_overview') }}';">Overview</li>
          <li class="menu-1st">Manage Account
            <ul class="menu-2nd-hidden">
              <li onclick="window.location.href='{{ url_for( 'parent_pool_manage_sw') }}';">
                Save/Withdraw
              </li>
              <li>
                Invest
                <ul class="menu-3rd-hidden">
                  <li onclick="window.location.href='{{ url_for( 'parent_pool_manage_st') }}';">stock</li>
                  <li onclick="window.location.href='{{ url_for( 'parent_pool_manage_fu') }}';">fund</li>
                  <li onclick="window.location.href='{{ url_for( 'parent_pool_manage_in') }}';">insurance</li>
                </ul>
              </li>
              <li onclick="window.location.href='{{ url_for( 'parent_pool_manage_lo') }}';">
                Loan
              </li>
              <li onclick="window.location.href='{{ url_for( 'parent_pool_manage_mp') }}';">
                Manage Pools
              </li>
            </ul>
          </li>
          <li id="selected2">Set Goals</li>
        </ul>
        <hr>
        <p>Welcome, Bob</p>
        <img src="/static/user.png" alt="user">
      </nav>
    </div>
    <div class="container">
      <div class="viewer-g">
        <p class="title">My Family Goals</p><hr>
        <div class="goalcards">
          <div class="goal" style="background-color: rgba(145, 255, 145, 0.564);">
            <p class="title-goal">Buy a laptop</p><span>...</span>
            <div class="progcontainer"><div class="prog" style="width: 92%; background-color:rgb(93, 220, 93)">92%</div></div>
            <hr>
            <p class="goalcontent">Beginning Date </p>
            <p>30/11/2019</p>
            <p>Expected Date</p>
            <p>30/05/2022</p>
            <p>Total Amount</p>
            <p>$ 6,000</p>
            <p>Current Accumulation</p>
            <p>$ 5,520</p>
          </div>
          <div class="goal" style="background-color: rgba(209, 255, 145, 0.564);">
            <p class="title-goal">Buy a car</p><span>...</span>
            <div class="progcontainer"><div class="prog" style="width: 66%; background-color:rgb(186, 220, 93)">66%</div></div>
            <hr>
            <p class="goalcontent">Beginning Date </p>
            <p>30/11/2019</p>
            <p>Expected Date</p>
            <p>30/05/2022</p>
            <p>Total Amount</p>
            <p>$ 60,000</p>
            <p>Current Accumulation</p>
            <p>$ 39,600</p>
          </div>
          <div class="goal" style="background-color: rgba(255, 185, 145, 0.564);">
            <p class="title-goal">Buy a house</p><span>...</span>
            <div class="progcontainer"><div class="prog" style="width: 31%; background-color:rgb(243, 165, 134)">31%</div></div>
            <hr>
            <p class="goalcontent">Beginning Date </p>
            <p>30/11/2019</p>
            <p>Expected Date</p>
            <p>30/05/2022</p>
            <p>Total Amount</p>
            <p>$ 300,000</p>
            <p>Current Accumulation</p>
            <p>$ 93,000</p>
          </div>
          <div class="goal">
            <div class="newgoal"><div>+</div></div>
          </div>
        </div>
      </div>
    </div>
    <footer style="display: none;"><div>Pool Icons made by <a href="https://www.flaticon.com/authors/becris" title="Becris">Becris</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      <div>User profile Icons made by <a href="https://www.flaticon.com/authors/bombasticon-studio" title="Bombasticon Studio">Bombasticon Studio</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      <div>Majority Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      <div>Invest Icons made by <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      <div>Background made by <a href="https://www.pexels.com/zh-cn/@gradienta" title="Gradienta">Gradienta</a></div>
      <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      <div>Icons made by <a href="https://www.flaticon.com/authors/justicon" title="justicon">justicon</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      <div>Icons made by <a href="https://www.flaticon.com/authors/srip" title="srip">srip</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </footer>
    <script>
      var btn = document.getElementById("selected")
      btn.style.backgroundColor = "lightslategray";
      btn.style.color = "azure";
      btn.style.boxShadow ="rgba(44, 39, 39, 0.653) 1px 10px 50px 10px";
      btn.style.zIndex = "1";
      document.getElementById("selected2").style.color = "silver";

    </script>
    </body>
</html>