          <li id="selected"><a href="#">Parent Pool</a></li>

        <div class="imgshower-sw">
          <img src="cash-flow.png" alt="cash">
        </div>
        <div class="table-sw">
          <nav>
            <ul>
              <li id="tb1" onclick="changetable(1)">
                Save
              </li>
              <li id="tb2" onclick="changetable(2)">
                Withdraw
              </li>
            </ul>
          </nav>
          <div class="inputarea-sw" id="area">
            <p>Please enter the amount (Unit: $)</p>
            <input type="text">
            <button>submit</button>
          </div>
        </div>
        <div class="overview-sw">
          <p>Current Balance in Parent Pool:</p>
          <p>$  291.32</p>
          <p>Current Balance in Family Pool:</p>
          <p>$  100</p>
          <p>Current Balance in Child Pool:</p>
          <p>$  56</p>
        </div>