<!DOCTYPE html>
<html style="height:100%">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='mystyle3.css')}}">
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5.2.2/dist/echarts.min.js"></script>
        <script type="text/javascript" src="{{url_for('static',filename='createchart2.js')}}"></script>
        <title>Family Pool</title>
    </head>
    <body style="height:100%">
      <aside class="sidenav" id="sidebar" style="width: 0;">
        <button onclick="closebar()">&times;</button>
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </aside>
    <div class="mainbody" id="main">
      <div class="nav">
        <button class="wrap" onclick="openbar()">☰</button>
      </div>
      <aside class="float-menu" id="mask" style="height: 0;"></aside>
      
      <div class="charts">
        <p>Chart Overview
          <select class="selecter" id="myselect">
              <option value="Family">Family Pool</option>
              <option value="IO">Child Pool</option>
          </select>
        </p>
      
        <div class="container" id="container1"></div>
        <div class="container" id="container2"></div>
      </div>
      <div class="rightnav">
        Hi
      </div>
      <script>
      createALchart();
      createOIchart();
      </script>
    <div>
    </body>
</html>
    